In [175]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

from itertools import combinations

In [186]:
data = pd.read_csv('movie_bd_v5.xls')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [178]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#добавление столбца 'profit'
data['profit'] = data.revenue - data.budget

In [87]:
#преобразование ячеек с несколькими данными в список

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [104]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = data.sort_values('budget', ascending=False).original_title.iloc[0]
# если ответили верно, можете добавить комментарий со значком "+"

In [203]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values('budget', ascending=False).original_title.iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [126]:
# можно добавлять разные варианты решения
data[data['budget'] == data['budget'].max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [106]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data.sort_values('runtime', ascending=False).original_title.iloc[0]

In [160]:
answers['2'] = data.sort_values('runtime', ascending=False).original_title.iloc[0]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [161]:
answers['3'] = data.sort_values('runtime').original_title.iloc[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [109]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [110]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [113]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data.sort_values('profit', ascending=False).original_title.iloc[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [114]:
answers['7'] = data.sort_values('profit').original_title.iloc[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [119]:
answers['8'] = data[data['profit'] > 0].imdb_id.count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [120]:
answers['9'] = data[data['release_year'] == 2008].sort_values('revenue', ascending=False).original_title.iloc[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [110]:
answers['10'] = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values('profit').original_title.iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [180]:
#преобразование ячеек 'genres' в список
data2 = data
data2['genres'] = data2['genres'].apply(lambda x:x.split('|'))

In [181]:

data2 = data.explode('genres')
answers['11'] = data2.genres.value_counts().index[0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [123]:
answers['12'] = data2[data2['profit'] > 0]['genres'].value_counts().index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [124]:
answers['13'] = data2.groupby(['director']).revenue.sum().sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [128]:
#преобразование ячеек 'director' в список
data3 = data2
data3['director'] = data3['director'].apply(lambda x:x.split('|'))

In [129]:
data3 = data2.explode('director')
answers['14'] = data3[data3['genres'] == 'Action']['director'].value_counts().index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [131]:
#приобразование ячеек 'cast' в список
data4 = data
data4['cast'] = data4['cast'].apply(lambda x:x.split('|'))

In [132]:
data4 = data.explode('cast')
answers['15'] = data4[data4['release_year'] == 2012].groupby(['cast']).revenue.sum().sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [133]:
answers['16'] = data4[data4['budget'] > data4['budget'].mean()]['cast'].value_counts().index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [134]:
data5 = data4.explode('genres')
answers['17'] = data5[data5['cast'] == 'Nicolas Cage'].genres.value_counts().index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [194]:
#преобразование ячеек 'production_companies' в список
data6 = data
data6['production_companies'] = data6['production_companies'].apply(lambda x:x.split('|'))

In [136]:
data6 = data.explode('production_companies')
answers['18'] = data6[data6['production_companies'] == 'Paramount Pictures'].sort_values('profit').original_title.iloc[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [137]:
answers['19'] = data.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [138]:
answers['20'] = data6[data6['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [140]:
#преобразование ячеек 'release_date' в список
data7 = data
data7['release_date'] = data7['release_date'].apply(lambda x: x.split('/'))

In [141]:
#добавление столбца месяц
data7['month'] = data7['release_date'].apply(lambda x: x[0])
answers['21'] = data7['month'].value_counts().index[0]
answers['21']

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [142]:
answers['22'] = len(data7[(data7['month'] == '6') | (data7['month'] == '7') |  (data7['month'] == '8')])
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [143]:
#преобразование ячеек 'director' в список
data8 = data
data8['director'] = data8['director'].apply(lambda x:x.split('|'))

In [147]:
data8 = data8.explode('director')
answers['23'] = data8[(data7['month'] == '1') | (data8['month'] == '2') | (data8['month'] == '12')].director.value_counts().index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [155]:
data9 =  data9.explode('production_companies')
data9['len_title'] = data9['original_title'].apply(lambda x: len(x)) #добавление столбца 'длина названия фильмов'
answers['24'] = data9.groupby(['production_companies'])['len_title'].max().sort_values(ascending=False).index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [196]:
#преобразование ячеек 'overview' в список
data10 = data6
data10['overview'] = data10['overview'].apply(lambda x:x.split(' '))

AttributeError: 'list' object has no attribute 'split'

In [198]:

data10['count_word_title'] = data10['overview'].apply(lambda x: int(len(x))) #добавление столбца 'количество слов в описании'
data10 =  data10.explode('production_companies')
answers['25'] = data10.groupby(['production_companies'])['count_word_title'].mean().sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [201]:
answers['26'] = data[data['vote_average'] > data['vote_average'].quantile(0.99)].original_title
answers['26']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [171]:

data11 = data
data11['pairs'] = data11['cast'].apply(lambda x: list(combinations(x, 2)))
data11 = data11.explode('pairs')
answers['27'] = collections.Counter(data11['pairs']).most_common(1)
answers['27']

[(('Daniel Radcliffe', 'Rupert Grint'), 80)]

# Submission

In [102]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': production_companies
 Four By Two Productions                   83
 Twentieth Century Fox Film Corporation    83
 Walden Media                              62
 Walt Disney                               62
 Jim Henson Company, The                   59
                                           ..
 Everest Entertainment                      3
 Berlanti Productions                       3
 XM2 Productions                            2
 Global Entertainment Group                 2
 Ixtlan Productions                         2
 Name: len_title, Length: 1771, dtype: int64,
 '25': 'Midnight Picture Show'}

In [202]:
# и убедиться что ни чего не пропустил)
len(answers)

2